USE [Testing]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 02/17/2014 18:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NULL,
	[EmailID] [nvarchar](200) NULL,
	[ContactNo] [nvarchar](200) NULL,
	[Password] [nvarchar](200) NULL,
	[Color1] [nvarchar](200) NULL,
	[Color2] [nvarchar](200) NULL,
	[Color3] [nvarchar](200) NULL,
	[Color4] [nvarchar](200) NULL,
	[Color5] [nvarchar](200) NULL,
	[Color6] [nvarchar](200) NULL,
	[Color7] [nvarchar](200) NULL,
	[Color8] [nvarchar](200) NULL,
	[No1] [nvarchar](200) NULL,
	[No2] [nvarchar](200) NULL,
	[No3] [nvarchar](200) NULL,
	[No4] [nvarchar](200) NULL,
	[No5] [nvarchar](200) NULL,
	[No6] [nvarchar](200) NULL,
	[No7] [nvarchar](200) NULL,
	[No8] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 02/17/2014 18:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NULL,
	[EmailID] [nvarchar](200) NULL,
	[ContactNo] [nvarchar](200) NULL,
	[Password] [nvarchar](200) NULL,
	[Color1] [nvarchar](200) NULL,
	[Color2] [nvarchar](200) NULL,
	[Color3] [nvarchar](200) NULL,
	[Color4] [nvarchar](200) NULL,
	[Color5] [nvarchar](200) NULL,
	[Color6] [nvarchar](200) NULL,
	[Color7] [nvarchar](200) NULL,
	[Color8] [nvarchar](200) NULL,
	[No1] [nvarchar](200) NULL,
	[No2] [nvarchar](200) NULL,
	[No3] [nvarchar](200) NULL,
	[No4] [nvarchar](200) NULL,
	[No5] [nvarchar](200) NULL,
	[No6] [nvarchar](200) NULL,
	[No7] [nvarchar](200) NULL,
	[No8] [nvarchar](200) NULL
) ON [PRIMARY]
GO
